body {
  background-color: #f8f9fa;
}

.container {
  max-width: 800px;
}

.card {
  margin-bottom: 20px;
  overflow: hidden;
}

.card-img-top {
  height: 200px; /* Set a fixed height for images */
  max-width: 100%;
  object-fit: auto; /* Ensure images cover the area */
}
.post-details{
  height: 450px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  object-fit: auto;
}

.card-text {
  margin-bottom: 1rem;
  object-fit: cover;
}
.description {
  height: 100px;
}

.pagination {
  display: flex;
  justify-content: space-between;
}

button {
  cursor: pointer;
}
